#### Sets
Sets are 'Unordered collection of data'.store multiple items in single variable, sets are separated by Commas and enclosed within curly brackets.
Set are unchangable meaning you cannot change items of set once created.No duplication of data.

In [2]:
my_set = {1,2,3,6,4,5}
print(my_set)

{1, 2, 3, 4, 5, 6}

In [4]:
my_set = {1,2,3,6,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [6]:
my_empty_set = set()
print(type(my_empty_set))

<class 'set'>

In [8]:
my_empty_set = set([1,2,3,4,5,6])
print(my_empty_set)
print(type(my_empty_set))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [1]:
#### basics sets operation.

In [2]:
my_set = {1,2,3,6,4,5}
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [3]:
## remove the element from set
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [4]:
my_set.remove(10)
print(my_set)

KeyError: 10

In [5]:
my_set.discard(11)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [6]:
## pop method.(basically removes 1st element of set)
removed_element = my_set.pop()
print(removed_element)
print(my_set)

1
{2, 4, 5, 6, 7}

In [7]:
## clear the elements
my_set.clear()
print(my_set)

set()

In [9]:
# set membership test
my_set = {1,2,3,4,5,6}
print(3 in my_set)
print(10 in my_set)

True
False

In [10]:
## mathematical operation
set1 = {1,2,3,4,5,6}
set2 = {4,5,8,7,9,2,1}

##Union sets

union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
##intersection set
intersection_set = set1.intersection(set2)
print(intersection_set)

{1, 2, 4, 5}

In [12]:
set1.intersection_update(set2)
print(set1)

{1, 2, 4, 5}

In [19]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,8,7,9,2,1}

## difference 
print(set1.difference(set2))
print(set1.difference_update(set2))

{3, 6}
None

In [20]:
## symmteric differnece
set1.symmetric_difference(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [27]:
##set method
set1 = {1,2,3}
set2 = {1,2,3,4,5}

##is subset
print(set1.issubset(set2))

print(set1.issuperset(set2))

True
False

In [28]:
lt = [1,2,2,3,4,4,5]
set(lt)

{1, 2, 3, 4, 5}

In [ ]:
## Counting unique words in text

text= "In this tutorial wew are discussing about sets"
words = text.split()

## connvert list of words to set to get unique words
unique_words = set(words)
print(union_words)