#### Dictionary
dictionary are ordered collection of items.they store data in key-value pairs.Keys must be unique and immutable(eg. strings, numbers, or tuples) while values can be of any types.

In [4]:
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [5]:
empty_dict = dict()
empty_dict

{}

In [8]:
student = {"name": "Aditya" , "age": 32 , "grade": 24}
print(student)
print(type(student))

{'name': 'Aditya', 'age': 32, 'grade': 24}
<class 'dict'>

In [10]:
## error
student = {"name": "Aditya" , "age": 32 , "name": 24}
print(student)
## so here basically value gets replaced in 'name'
## SINGLE KEY IS ALWAYS USED.

{'name': 24, 'age': 32}

In [13]:
student = {"name": "Aditya" , "age": 32 , "grade": 'S'}
print(student)

{'name': 'Aditya', 'age': 32, 'grade': 'S'}

In [19]:
## Accessing dictionary element.
print(student['grade'])
print(student['age'])

## Accessing using get() method
print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name','Not Available'))
print(student.get('last_name'))

S
32
S
None
Not Available
None

In [20]:
student["age"] = 33
print(student)
student["address"] = "India"
print(student)

{'name': 'Aditya', 'age': 33, 'grade': 'S'}
{'name': 'Aditya', 'age': 33, 'grade': 'S', 'address': 'India'}

In [21]:
del student['grade']

In [22]:
print(student)

{'name': 'Aditya', 'age': 33, 'address': 'India'}

In [23]:
keys = student.keys()
print(keys)
values = student.values()
print(values)

dict_keys(['name', 'age', 'address'])
dict_values(['Aditya', 33, 'India'])

In [24]:
items=student.items()
print(items)

dict_items([('name', 'Aditya'), ('age', 33), ('address', 'India')])

#### Shallow Copy

In [25]:

student_copy = student
print(student)
print(student_copy)

{'name': 'Aditya', 'age': 33, 'address': 'India'}
{'name': 'Aditya', 'age': 33, 'address': 'India'}

In [26]:
student["name"] = "krishna"
print(student)
print(student_copy)

{'name': 'krishna', 'age': 33, 'address': 'India'}
{'name': 'krishna', 'age': 33, 'address': 'India'}

In [27]:
## shallow copy
student_cpoy = student.copy() 
print(student_cpoy)

{'name': 'krishna', 'age': 33, 'address': 'India'}

In [28]:
student["name"] = "Aradhya"
print(student_cpoy)
print(student)

{'name': 'krishna', 'age': 33, 'address': 'India'}
{'name': 'Aradhya', 'age': 33, 'address': 'India'}

In [29]:
## Iterating over dictionary
## use Loops.

for keys in student.keys():
    print(keys)

name
age
address

In [30]:
for values in student.values():
    print(values)

Aradhya
33
India

In [34]:
## iterate over key-value pairs.

for key,value in student.items():
    print(f"key : {key}    ,   value: {value}")

key : name    ,   value: Aradhya
key : age    ,   value: 33
key : address    ,   value: India

In [35]:
## Nested Dictionary

students = {
    "student1" : {"name":"Aditya" , "age": 32},
    "student2" : {"name":"Aradhya","age":24}
}
print(students)

{'student1': {'name': 'Aditya', 'age': 32}, 'student2': {'name': 'Aradhya', 'age': 24}}

In [36]:
print(students['student2'],['name'])

{'name': 'Aradhya', 'age': 24} ['name']

In [38]:
## iterating over Nested dictionaries.
for student_id,student_info in students.items():
    print(f"{student_id} : {student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1 : {'name': 'Aditya', 'age': 32}
name:Aditya
age:32
student2 : {'name': 'Aradhya', 'age': 24}
name:Aradhya
age:24

In [40]:
### Dictionary Comprehension

squares = {{x}**2:x**2 for x in range(3)}
print(squares)

{0: 0, 1: 1, 2: 4}