## Definition:
a function is block of code that performs a specific task.Functions help in organizing code,reusing code,improving readability.

In [1]:
def function_name(parameters):
    """Docstring"""
    # function body
    return expression

In [3]:
num = 24
if num%2 == 0:
    print("The number is even")
else:
    print("The number is odd")

The number is even

In [4]:
def even_odd (num):
    """This function finds even or odd"""
    if num%2==0:
        print("The number is even")
    else:
        print("The number is odd")

In [5]:
## Call the Function.
even_odd(78)

The number is even

In [7]:
## function with multiple parameters
def add(a,b):
    return a + b

result = add(3,4)
print(result)

7

In [9]:
## Default Parameters

def greet(name):
    print(f"My name is {name}")
    
greet("Aditya")

My name is Aditya

In [1]:
### variable length arguments
## positional and keyword Argument

## Positional arguments:

def print_number(*Aditya):
    for numbers in Aditya:
        print(numbers)

In [14]:
print_number(1,2,3,4,5,6,7,8,9,"Krish")

1
2
3
4
5
6
7
8
9
Krish

In [15]:
## Keyword arguments: All the parameter are in the form key-value.

def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [16]:
print_details(name="Aditya",age=32,country="India")

name:Aditya
age:32
country:India

In [19]:
def print_details(*args,**kwargs):
    for numbers in args:
        print(f"positional argument:{numbers}")
    
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [20]:
print_details(1,2,3,4,5,"hello",name="Aditya",age=32,country="India")

positional argument:1
positional argument:2
positional argument:3
positional argument:4
positional argument:5
positional argument:hello
name:Aditya
age:32
country:India

In [21]:
## return statement

def multiply(a,b):
    return a*b

multiply(3,4)

12

### Example1: Temprature Conversion

In [22]:
def convert_temperature(temp,unit):
    if unit=='C':
        return temp*9/5 + 32
    elif unit=='F':
        return (temp-32)*5/9
    else:
        return None
    
convert_temperature(32,C)

NameError: name 'C' is not defined

In [23]:
convert_temperature(32,'C')

89.6

### Example2: Password Strength Checker.

In [1]:
def is_strong_pass(password):
    if len(password)<8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char in '!@#$%^&*()_+' for char in password):
        return False
    return True

In [6]:
print(is_strong_pass('WeakPwd'))
print(is_strong_pass('Aditya@02'))

False
None

### Exmpale 3: Calculate the total cost of items in a shopping cart

In [7]:
def calculate_total_cost(cart):
    total_cost=0
    for item in cart:
        total_cost+=item["price"]*item['quantity']
    return total_cost

## Examples cart data
cart = [
    {'name':'Apple','price':2,'quantity':5},
    {'name':'banana','price':4,'quantity':7},
    {'name':'strawberry','price':3,'quantity':9}
]

In [8]:
calculate_total_cost(cart)

65

### Example4: check if String is Palindrome

In [15]:
def is_palindrome(s):
    # s=s.lower().replace(" ","")
    return s==s[::-1]

# is_palindrome('A man a plan a canal Panama')
is_palindrome('nitin')

True

### Example5: caluclate the factorials of a number using recursion.

In [18]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n * factorial(n-1)
    
factorial(4)

24

#### Example6: A function to read file and count the frequency of each word.

In [10]:
def count_word_frequency(file_path):
    word_count={}
    with open(file_path,'r') as file:
        for line in file:
            words = line.split()
            for word in words:
                word = word.lower().strip('.,!?;:"\'')
                word_count[word] = word_count.get(word,0) + 1
                
    return word_count
filepath='sample.txt'
word_frequency = count_word_frequency(filepath)
print(word_frequency)

{'hello': 1, 'world': 1, 'how': 1, 'are': 1, 'you': 1, 'aditya': 2, 'adi:tya': 1, 'my': 1, 'name': 1, 'is': 1}

#### Example7: Validate the Email Address

In [22]:
import re

def is_valid_email(email):
    pattern = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z]+.[a-zA-Z0-9_.]+$'
    return re.match(pattern,email) is not None

is_valid_email('Aditya06@gmail.com')

False

In [19]:
import re 

txt = "the rain in spain"
x = re.search("^the.*spain$",txt)
print(x)

<re.Match object; span=(0, 17), match='the rain in spain'>

In [28]:
import re

txt = "Hello Planeto..."

## search for a sequence that starts with "he" followed by 0 or more characters and an 'o'.
x = re.findall("He.*o",txt)
print(x)

['Hello Planeto']

[]