### TUPLES
Tuples are ordered collections of items that are immutable. they are similar to lists, but their immutability makes them different.

In [1]:
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lt = list()
print(type(lt))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
## Accesing tuple element.

numbers = tuple([1,2,3])
numbers

(1, 2, 3)

In [4]:
numbers[0]

1

In [5]:
numbers[::-1]

(3, 2, 1)

In [6]:
##tuple operation
mixed_tuple = (1,'hello world',3.15,'Aditya')
concat = mixed_tuple + numbers
print(concat)

(1, 'hello world', 3.15, 'Aditya', 1, 2, 3)

In [7]:
concat*3

(1,
 'hello world',
 3.15,
 'Aditya',
 1,
 2,
 3,
 1,
 'hello world',
 3.15,
 'Aditya',
 1,
 2,
 3,
 1,
 'hello world',
 3.15,
 'Aditya',
 1,
 2,
 3)

In [8]:
## tuples are immutable.
# meaning cannot be changed

lst = [1,2,3,4,5]
print(lst)


lst[1] = "Aditya"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Aditya', 3, 4, 5]

In [9]:
lst1 = tuple([1,2,3,4,5])
print(lst1)


lst1[1] = "Aditya"
print(lst1)

(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [15]:
packed_tuple = 1,3.41,"Aditya"
print(packed_tuple)

(1, 3.41, 'Aditya')

In [22]:
## Unpacked tuple
a,b,c = packed_tuple

print(a)
print(b)
print(c)

1
3.41
Aditya

In [23]:
## unpacking wiht * 
numbers = (1,2,3,4,5,6)
first,*middle,last = numbers

print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [26]:
## Nested Tuple
## Nested list
## Inside list we can have tuples.

lst = [[1,2,3,4],[6,7,8,9],[1,"hello",3.14,"c"]]

lst[0][0:3]

[1, 2, 3]