In [1]:
## For loop
range(5)

range(0, 5)

In [4]:
for i in range(1,6):
    print (i)

1
2
3
4
5

In [9]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [12]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [13]:
## Strings

str = "Aditya More"

for i in str:
    print(i)

A
d
i
t
y
a

M
o
r
e

In [14]:
## While Loop
## The while loop continues to execute as long as the condition is 
## True.

count = 0
while count<5:
    print(count)
    count +=1

0
1
2
3
4

In [16]:
t = 10 
while t>0:
    print(t)
    t -=1
else:
    print("Counter is 0")

10
9
8
7
6
5
4
3
2
1
Counter is 0

In [19]:
count = 0
while count%2==0:
    print(count)
    count +=1

0

In [23]:
## Loop control statement.
#break
#The break statement exits the loop permaturely.
#the Break Statement.

for i in range(10):
    if i == 5:
        break
    print(i)
print("Thank you!!!")

0
1
2
3
4
Thank you!!!

In [22]:
for i in range(1,101,1):
    print(i,end=" ")
    if (i == 50):
        break
    else:
        print("Mississippi")
print("Thank you")

1 Mississippi
2 Mississippi
3 Mississippi
4 Mississippi
5 Mississippi
6 Mississippi
7 Mississippi
8 Mississippi
9 Mississippi
10 Mississippi
11 Mississippi
12 Mississippi
13 Mississippi
14 Mississippi
15 Mississippi
16 Mississippi
17 Mississippi
18 Mississippi
19 Mississippi
20 Mississippi
21 Mississippi
22 Mississippi
23 Mississippi
24 Mississippi
25 Mississippi
26 Mississippi
27 Mississippi
28 Mississippi
29 Mississippi
30 Mississippi
31 Mississippi
32 Mississippi
33 Mississippi
34 Mississippi
35 Mississippi
36 Mississippi
37 Mississippi
38 Mississippi
39 Mississippi
40 Mississippi
41 Mississippi
42 Mississippi
43 Mississippi
44 Mississippi
45 Mississippi
46 Mississippi
47 Mississippi
48 Mississippi
49 Mississippi
50 Thank you

In [2]:
## continue 
## the continue statement skips the current iteration with the next
##OR
## the continue statement skips the rest of the loops statement
## and causes the nxt iteration to occur.

for i in range(10):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

In [3]:
for i in range(12):
    if i == 10:
        print("This is new Method.")
        continue
    print("5 X",i,"=",5*i)

5 X 0 = 0
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
This is new Method.
5 X 11 = 55

In [5]:
## Pass 
## the pass statement is null operation; it does nothing.

for i in range(5):
    if i == 3:
        print("The number is",i)
        pass
    print(i)

0
1
2
The number is 3
3
4

In [7]:
## Nested loops
## a loop inside the loop

for i in range(5):
    for j in range(4):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:0 and j:2
i:0 and j:3
i:1 and j:0
i:1 and j:1
i:1 and j:2
i:1 and j:3
i:2 and j:0
i:2 and j:1
i:2 and j:2
i:2 and j:3
i:3 and j:0
i:3 and j:1
i:3 and j:2
i:3 and j:3
i:4 and j:0
i:4 and j:1
i:4 and j:2
i:4 and j:3

In [1]:
## examples

## calculate the sum of first N natural numbers using a 
# while and for loop.

#while loop:
n = 10
sum = 0
count = 1

while count<=n:
    sum = sum + count
    count = count + 1
    
print("Sum of First 10 Natural number:",sum)

Sum of First 10 Natural number: 55

In [6]:
## for loop:

n = 10
sum = 0
# count = 1

for i in range(11):
    sum = sum + i
print("Sum of the N natural numbers:",sum)

Sum of the N natural numbers: 55

In [ ]:
## prime number elements between 1 and 100